<div class="ui container" style="padding-top:20px;" >
    <div class="ui raised segment">
        <div class="ui form" id="frm_branch" style="display: none;">
            <h4 class="ui dividing header">Customer Details</h4>
            <div class="field">
               
                <div class="two fields">
                    
                    <div class="field">
                        <label>First Name</label>
                        <input type="text" maxlength="50" id="firstname">
                    </div>
                   
                    <div class="field">
                        <label>Last Name</label>
                        <input type="text" id="f_Lastname">
                    </div>
                </div>
            </div>
            <div class="field">
                
                <div class="fields">
                    <div class="twelve wide field">
                        <label>Address</label>
                        <input type="text" id="address">
                    </div>
                    <div class="four wide field">
                            <label>Nearest Branch</label>
                            <select class="ui fluid dropdown" id="cityBranch">
                                
                            </select>
                        
                    </div>
                </div>
                
            </div>
            <div class="field">

                <div class="fields">
                    <div class="four wide field">
                        <label>Company</label>
                        <input type="text" maxlength="50" id="company">
                    </div>

                    <div class="four wide field">
                        <label>Gender</label>
                        <select class="ui fluid dropdown" id="gender" >
                            <option value="male">
                                Male
                            </option>
                            <option value="female">Female</option>
                        </select>
                    </div>

                    <div class="four wide field">
                        <label>Email</label>
                        <input type="text" maxlength="50" id="email">
                    </div>

                    <div class="four wide field">
                        <label>Priority Client</label>
                        <select class="ui fluid dropdown" id="priorityClient">
                            <option value="0">No</option>
                            <option value="1">
                                Yes
                            </option>
                            
                        </select>
                    </div>
                </div>

            </div>
            <div class="field">

                <div class="fields">
                    <div class="four wide field">
                        <label>Home Phone:</label>
                        <input type="text" maxlength="50" id="homephone">
                    </div>

                    <div class="four wide field">
                        <label>Office Phone:</label>
                        <input type="text" maxlength="50" id="officephone">
                    </div>

                </div>

            </div>
           <div>
               <div class="ui stackable four columns grid">
                   <div class="column">&nbsp;</div>
                   <div class="column"><button class="ui green button" style="width: 100%;" onclick=" save();">Save</button></div>
                   <div class="column"><button class="ui red button" style="width: 100%;" onclick=" Common.custAlert('Warning!', 'You are about to disable this branch. This will remove it from the current listing.', 'Yes',  disable , 'No', {}, branchSelected)    ">Disable</button></div>
                   <div class="column"><button class="ui button" style="width: 100%;" onclick="clearForm()">Cancel</button></div>
               </div>
           </div>
                    
            
            
        </div>
        
        <div class="ui segment" id="list_branch">

            <div class="ui stackable grid">
                <div class="two column row">
                    <div class="column">
                        <h4 class="ui dividing header">Customers</h4>
                        <a class="ui teal label" onclick="$('#list_branch').fadeOut(); $('#frm_branch').fadeIn(); branchSelected = 'New';">Create New</a>
                    </div>
                    <div class="right floated column">
                        <div class="ui action input" style="width:100%;">
                            <input type="text" placeholder="Search..." id="brnch_searchkey">
                            <button class="ui button" onclick="search($('#brnch_searchkey').val())">Search</button>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <hr/>
            <br/>
            <div>
                <table class="ui striped selectable table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Company</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Contact No.</th>
                        </tr>
                    </thead>
                    <tbody id="branchList">
                        
                    </tbody>
                </table>
            </div>
         </div>
    </div>
</div>
<script src="../../Libraries/Common/CommonScripts.js"></script>
<script type="text/javascript">
    var branchSelected=null;
    $(document).ready(function () {
        branchSelected = "New";
        search('');
        loadBranchList();
    });

    function disable(branchSelected)
    {
        Common.serviceRequest("../api/Customer/Remove", { 'BranchID': branchSelected, }, function (data) {
            Common.custAlert('Success', data);
            clearForm();
            search('');
        }, 'text');
    }

    function loadBranchList() {
        Common.serviceRequest("../api/Branches/List", { 'search': '' }, function (data) {

            Common.loopToTemplate(data, `<option value='{{branchID}}'>{{branchName}}</option>`, "#cityBranch");
            $("#cityBranch").html("<option value=''>None</option>" + $("#cityBranch").html());

        });

    }

   
    function search(searchkey)
    {
        Common.serviceRequest("../api/Customer/List", { 'search': searchkey }, function (data) {
             Common.loopToTemplate(data,`<tr>
                            <td style="font-weight: bold;" class="right aligned"><i class="fa fa-edit" onclick="edit('{{customerProfileID}}')"></i></td>
                            <td style="text-decoration:underline; font-weight: bold;">{{company}}</td>
                            <td>{{f_Lastname}} , {{firstname}}</td>
                            <td>{{address}}</td>
                            <td>{{homePhone}}</td>
                        </tr>`, "#branchList");

        });

    }
    function save()
    {
    
        Common.serviceRequest("../api/Customer/Create", { 'CustomerProfileID': branchSelected, 'Firstname': $('#firstname').val(), 'f_Lastname': $('#f_Lastname').val(), 'Company': $('#company').val(), 'Address': $('#address').val(), 'CityBranch': $('#cityBranch').val(), 'HomePhone': $('#homephone').val(), 'OfficePhone': $('#officephone').val(), 'Email': $('#email').val(), 'PriorityClient': $('#priorityClient').val(), 'gender': $('#gender').val()}, function (data) {
            Common.custAlert('Success', data);
            clearForm();
            search('');

        },'text');
    }

    function edit(brID)
    {
        branchSelected = brID;
        Common.serviceRequest("../api/Customer/Get", { 'id': brID }, function (data) {
            Common.loadToTemplate(data, $("#frm_branch").html(), "#frm_branch", function () {
                $('#list_branch').fadeOut(); $('#frm_branch').fadeIn();
               
                $('#branchList').val(data.branchID);
            });
        });
    }

    function clearForm()
    {
        $('#branchName').val('');
        $('#branchCode').val('');
        $('#parentBranch').val('');
        $('#address').val('');
        branchSelected = "New";
        $('#frm_branch').fadeOut(); $('#list_branch').fadeIn();
    }

</script>