<div class="ui container" style="padding-top:20px;" >
    <div class="ui raised segment">
        <div class="ui form" id="frm_branch" style="display: none;">
            <h4 class="ui dividing header">Route Destination Details</h4>
            
            <div class="field">
                
                <div class="fields">
                    <div class="four wide field">
                        <label>Origin Branch</label>
                        <select class="ui fluid dropdown" id="routeOrigin"></select>

                    </div>
                    <div class="four wide field">
                            <label>Destination Branch</label>
                            <select class="ui fluid dropdown" id="routeDestination">
                                
                            </select>
                        
                    </div>
                </div>
                
            </div>
            <div class="field">

                <div class="fields">
                    <div class="four wide field">
                        <label>Dimension Charge</label>
                        <input type="text" maxlength="50" id="dimensionCharge">
                    </div>

                    <div class="four wide field">
                        <label>Weight Charge</label>
                        <input type="text" maxlength="50" id="weightCharge">
                    </div>

                    <div class="four wide field">
                        <label>Value Charge</label>
                        <input type="text" maxlength="50" id="valueCharge">
                    </div>

                    <div class="four wide field">
                        <label>Pickup Charge</label>
                        <input type="text" maxlength="50" id="pickupCharge">
                    </div>
                </div>

            </div>
            <div class="field">

                <div class="fields">
                    <div class="four wide field">
                        <label>Delivery Charge</label>
                        <input type="text" maxlength="50" id="deliveryCharge">
                    </div>

                    <div class="four wide field">
                        <label>Discount</label>
                        <input type="text" maxlength="50" id="discount">
                    </div>

                    <div class="four wide field">
                        <label>Adjustment</label>
                        <input type="text" maxlength="50" id="adjustment">
                    </div>

                   

                </div>

            </div>
           <div>
               <div class="ui stackable four columns grid">
                   <div class="column">&nbsp;</div>
                   <div class="column"><button class="ui green button" style="width: 100%;" onclick=" save();">Save</button></div>
                   <div class="column"><button class="ui red button" style="width: 100%;" onclick=" Common.custAlert('Warning!', 'You are about to disable this branch. This will remove it from the current listing.', 'Yes',  disable , 'No', {}, branchSelected)    ">Disable</button></div>
                   <div class="column"><button class="ui button" style="width: 100%;" onclick="clearForm()">Cancel</button></div>
               </div>
           </div>
                    
            
            
        </div>
        
        <div class="ui segment" id="list_branch">

            <div class="ui stackable grid">
                <div class="two column row">
                    <div class="column">
                        <h4 class="ui dividing header">Routes</h4>
                        <a class="ui teal label" onclick="$('#list_branch').fadeOut(); $('#frm_branch').fadeIn(); branchSelected = 'New';">Create New</a>
                    </div>
                    <div class="right floated column">
                        <div class="ui action input" style="width:100%;">
                            <input type="text" placeholder="Search..." id="brnch_searchkey">
                            <button class="ui button" onclick="search($('#brnch_searchkey').val())">Search</button>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <hr/>
            <br/>
            <div>
                <table class="ui striped selectable table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Route</th>
                            
                        </tr>
                    </thead>
                    <tbody id="branchList">
                        
                    </tbody>
                </table>
            </div>
         </div>
    </div>
</div>
<script src="../../Libraries/Common/CommonScripts.js"></script>
<script type="text/javascript">
    var branchSelected=null;
    $(document).ready(function () {
        branchSelected = "New";
        search('');
        loadBranchList();
        $("#routeOrigin").html("<option value='" + Common.getLoginDetails("branch")+"'>" + Common.getLoginDetails("vw_branch")+"</option>" );
       
       
    });

    function disable(branchSelected)
    {
        Common.serviceRequest("../api/SeaDestination/Remove", { 'RouteID': branchSelected, }, function (data) {
            Common.custAlert('Success', data);
            clearForm();
            search('');
        }, 'text');
    }

    function loadBranchList() {
        Common.serviceRequest("../api/Branches/List", { 'search': '' }, function (data) {

            Common.loopToTemplate(data, `<option value='{{branchID}}'>{{branchName}}</option>`, "#routeDestination");
            $("#routeDestination").html("<option value='0'>None</option>" + $("#routeDestination").html());

           
            
        });
        
       
      
    }

   
    function search(searchkey)
    {
        Common.serviceRequest("../api/SeaDestination/List", { 'search': searchkey }, function (data) {
             Common.loopToTemplate(data,`<tr>
                            <td style="font-weight: bold;" class="right aligned"><i class="fa fa-edit" onclick="edit('{{routeID}}')"></i></td>
                            
                            <td>{{vw_RouteOrigin}} to {{vw_RouteDestination}}</td>
                           
                        </tr>`, "#branchList");

        });

    }
    function save()
    {
    
        Common.serviceRequest("../api/SeaDestination/Create", { 'RouteID': branchSelected, 'RouteOrigin': $('#routeOrigin').val(), 'RouteDestination': $('#routeDestination').val(), 'DimensionCharge': $('#dimensionCharge').val(), 'WeightCharge': $('#weightCharge').val(), 'ValueCharge': $('#valueCharge').val(), 'PickupCharge': $('#pickupCharge').val(), 'DeliveryCharge': $('#deliveryCharge').val(), 'Discount': $('#discount').val(), 'Adjusmtent': $('#adjustment').val(), 'lastupdatedby': Common.getLoginDetails("userid")}, function (data) {
            Common.custAlert('Success', data);
            clearForm();
            search('');

        },'text');
    }

    function edit(brID)
    {
        branchSelected = brID;
        Common.serviceRequest("../api/SeaDestination/Get", { 'id': brID }, function (data) {
            Common.loadToTemplate(data, $("#frm_branch").html(), "#frm_branch", function () {
                alert(JSON.stringify(data));
                $('#list_branch').fadeOut(); $('#frm_branch').fadeIn();
               
            });
        });
    }

    function clearForm()
    {
        $('#branchName').val('');
        $('#branchCode').val('');
        $('#parentBranch').val('');
        $('#address').val('');
        branchSelected = "New";
        $('#frm_branch').fadeOut(); $('#list_branch').fadeIn();
    }

</script>