<div class="ui container" style="padding-top:20px;" >
    <div class="ui raised segment">
        <div class="ui form" id="frm_branch" style="display: none;">
            <h4 class="ui dividing header">Loading Details for Tracking No.{{}}</h4>
            <div class="field">
               
                <div class="two fields">
                    
                    <div class="field">
                        <label>No. of Items Loaded</label>
                        <input type="text" maxlength="50" id="firstname">
                    </div>
                   
                    <div class="field">
                        <label>Item Numbers(e.g. [1001,1002], [1001 - 1010])</label>
                        <input type="text" id="f_Lastname">
                    </div>
                </div>
            </div>
           
           <div>
               <div class="ui stackable four columns grid">
                   <div class="column">&nbsp;</div>
                   <div class="column"><button class="ui green button" style="width: 100%;" onclick=" save();">Add to Loading List</button></div>
                   <div class="column"><button class="ui button" style="width: 100%;" onclick="clearForm()">Cancel</button></div>
               </div>
           </div>
                    
            
            
        </div>
        
        <div class="ui segment" id="list_branch">

            <div class="ui stackable grid">
                <div class="two column row">
                    <div class="column">
                        <h4 class="ui dividing header">Loading List</h4>
                    </div>
                    <div class="right floated column">
                        <div class="ui action input" style="width:100%;">
                            <input type="text" placeholder="Search..." id="brnch_searchkey">
                            <button class="ui button" onclick="search($('#brnch_searchkey').val())">Search</button>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <hr/>
            <br/>
            <div class="ui stackable grid">
                <div class="two column row">
                    <div class="column">
                        <div class="ui buttons">
                            <div class="ui button green btntabs" onclick="$('.btntabs').prop('class', 'ui button grey btntabs'); $(this).prop('class', 'ui button green btntabs'); $('.table').hide(); $('#finalLoadingList').hide(); $('#forLoadingList').show(); ">Items for Loading</div>
                            <div class="ui button grey btntabs" onclick="$('.btntabs').prop('class', 'ui button grey btntabs'); $(this).prop('class', 'ui button green btntabs'); $('.table').hide(); $('#finalLoadingList').show();  $('#finalLoadingList .table').show();">Final Loading List</div>
                        </div>
                      
                    </div>
                  
                </div>
            </div>
          
            <div>
                <br/>
                <table class="ui striped selectable table" id="forLoadingList">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Loaded</th>
                            <th>Received</th>
                            <th>Unloaded</th>
                            <th>Tracking No.</th>
                            <th>Origin</th>
                            <th>Destination</th>
                        </tr>
                    </thead>
                    <tbody id="branchList">
                        <tr>
                            <td style="font-weight: bold;" class="right aligned"><i class="fa fa-edit" onclick="  $('#list_branch').fadeOut(); $('#frm_branch').fadeIn();"></i></td>
                            <th>0</th>
                            <th>0</th>
                            <th>0</th>
                            <th>{{}}</th>
                            <th>{{}}</th>
                            <th>{{}}</th>
                            </tr>
                    </tbody>
                </table>
                <div id="finalLoadingList" style="display: none;">
                    <div class="ui form">
                        <div class="field">

                            <div class="three fields">

                                <div class="field">
                                    <label>Container No.</label>
                                    <input type="text" maxlength="50" id="">ter
                                </div>

                                <div class="field">
                                    <label>Remarks</label>
                                    <input type="text" id="">
                                </div>
                                <div class="field">
                                   <button class="ui button">Save Final loading list</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <table class="ui striped selectable table" id="" style="display: none;">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Loaded</th>
                                <th>Received</th>
                                <th>Unloaded</th>
                                <th>Tracking No.</th>
                                <th>Origin</th>
                                <th>Destination</th>
                            </tr>
                        </thead>
                        <tbody id="branchList">
                            <tr>
                                <td style="font-weight: bold;" class="right aligned">
                                    <i class="fa fa-edit" onclick="  $('#list_branch').fadeOut(); $('#frm_branch').fadeIn();"></i>
                                    <i class="fa fa-close" onclick="  $('#').fadeOut(); $('#frm_branch').fadeIn();"></i>
                                </td>
                                <th>0</th>
                                <th>0</th>
                                <th>0</th>
                                <th>{{}}</th>
                                <th>{{}}</th>
                                <th>{{}}</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
               

            </div>
         </div>
    </div>
</div>
<script src="../../Libraries/Common/CommonScripts.js"></script>
