
    <div class="column">
        <a class="image" href="#">
            <center>
                <img src="/Assets/icons/admin/user-accounts.png">
                <span class="ui pointing green basic label" style="width: 100%;">User Accounts</span>
            </center>
        </a>
    </div>
    <div class="column">
        <a class="image" href="#">
            <center>
                <img src="/Assets/icons/admin/user-level.png">
                <span class="ui pointing green basic label" style="width: 100%;">User Designations</span>
            </center>
        </a>
    </div>
    <div class="column">
        <a class="image" href="#">
            <center>
                <img src="/Assets/icons/admin/payment-types.png">
                <span class="ui pointing green basic label" style="width: 100%;">Payment Types</span>
            </center>
        </a>
    </div>
    <div class="column">
        <a class="image" href="#">
            <center>
                <img src="/Assets/icons/admin/collection-types.png">
                <span class="ui pointing green basic label" style="width: 100%;">Collection Types</span>
            </center>
        </a>
    </div>
    <div class="column">
        <a class="image" href="#">
            <center>
                <img src="/Assets/icons/admin//cargo-type.png">
                <span class="ui pointing green basic label" style="width: 100%;">Cargo Types</span>
            </center>
        </a>
    </div>
    <div class="column">
        <a class="image" href="#">
            <center>
                <img src="/Assets/icons/admin/cargo-units.png">
                <span class="ui pointing green basic label" style="width: 100%;">Cargo Units</span>
            </center>
        </a>
    </div>

