<div class="column">
    <a class="image" href="#">
        <center>
            <img src="/Assets/icons/air/air-transactions.png">
            <span class="ui pointing green basic label" style="width: 100%;">New / Find Air Shipment</span>
        </center>
    </a>
</div>
<div class="column">
    <a class="image" href="#">
        <center>
            <img src="/Assets/icons/air/air-loading.png">
            <span class="ui pointing green basic label" style="width: 100%;">Loading List</span>
        </center>
    </a>
</div>
<div class="column">
    <a class="image" href="#">
        <center>
            <img src="/Assets/icons/air/air-receiving.png">
            <span class="ui pointing green basic label" style="width: 100%;">Receving Check List</span>
        </center>
    </a>
</div>
<div class="column">
    <a class="image" href="#">
        <center>
            <img src="/Assets/icons/air/air-incident.png">
            <span class="ui pointing green basic label" style="width: 100%;">Incident Report</span>
        </center>
    </a>
</div>