<div class="column">
    <a class="image" onclick="menuBtnClick('/Admin/customerprofile.html', this)">
        <center>
            <img src="/Assets/icons/customer/customer-accounts.png">
            <span class="ui pointing green basic label" style="width: 100%;">Customer Accounts</span>
        </center>
    </a>
</div>
<div class="column">
    <a class="image" href="#">
        <center>
            <img src="/Assets/icons/customer/special-discounts.png">
            <span class="ui pointing green basic label" style="width: 100%;">Special Discounts</span>
        </center>
    </a>
</div>
<div class="column">
    <a class="image" href="#">
        <center>
            <img src="/Assets/icons/customer/customer-balances.png">
            <span class="ui pointing green basic label" style="width: 100%;">Check Customer Balances</span>
        </center>
    </a>
</div>
<script>
    function menuBtnClick(url, obj) {
        $(obj).hide();
        $(obj).parent().prop("style","border:1px solid #CCC; border-radius: 5px; background-color:rgba(128, 128, 128, 0.3)"); //.css("background-color","rgba(255,255,255,0.3)")
        $(obj).fadeIn('50', function () {
            Common.templateRequest(url, 'mainform');
            $('.menu_admin').fadeOut('10');
            $('#mainform').fadeIn('10');
        });
        $('#mainform').focus();
       // style = "";
    }

    $('.menuitem').hover(function () {
        $('.menuitem').prop("style", "");
        $(this).prop("style", "border-radius: 5px; background-color:rgba(128, 128, 128, 0.1)");
    });
</script>