<div class="column">
    <a class="image" href="#">
        <center>
            <img src="/Assets/icons/customer/customer-accounts.png">
            <span class="ui pointing green basic label" style="width: 100%;">Customer Accounts</span>
        </center>
    </a>
</div>
<div class="column">
    <a class="image" href="#">
        <center>
            <img src="/Assets/icons/customer/special-discounts.png">
            <span class="ui pointing green basic label" style="width: 100%;">Special Discounts</span>
        </center>
    </a>
</div>
<div class="column">
    <a class="image" href="#">
        <center>
            <img src="/Assets/icons/customer/customer-balances.png">
            <span class="ui pointing green basic label" style="width: 100%;">Check Customer Balances</span>
        </center>
    </a>
</div>