<div class="column">
    <a class="image" href="#">
        <center>
            <img src="/Assets/icons/sea/sea-transactions.png">
            <span class="ui pointing green basic label" style="width: 100%;">New / Find Sea Shipment</span>
        </center>
    </a>
</div>
<div class="column">
    <a class="image" href="#">
        <center>
            <img src="/Assets/icons/sea/sea-loading.png">
            <span class="ui pointing green basic label" style="width: 100%;">Loading List</span>
        </center>
    </a>
</div>
<div class="column">
    <a class="image" href="#">
        <center>
            <img src="/Assets/icons/sea/sea-receiving.png">
            <span class="ui pointing green basic label" style="width: 100%;">Receving Check List</span>
        </center>
    </a>
</div>
<div class="column">
    <a class="image" href="#">
        <center>
            <img src="/Assets/icons/sea/sea-incident.png">
            <span class="ui pointing green basic label" style="width: 100%;">Incident Report</span>
        </center>
    </a>
</div>