<div class="container">
    <!-- Login Button -->
    <div class="row" style="padding-top: 20px;">
        
        <button class="ui right floated basic green button" id="profilebtn" ></button>
    </div>
    <!-- [End] Login Button-->
    <div class="row" style="padding-top: 72px; padding-left: 30px; padding-right: 30px;">
        
        <div class="ui stackable sixteen columns grid" style="">
            <div class="four wide column" style="padding: 10px;">
                <div>
                    <div class="ui big basic label" style="width: 100%;">
                        <button class="ui circular minus square icon button" onclick="$('#notices').toggle('100ms');">
                            <i class="minus square icon"></i>
                        </button>
                        Notices: 
                    </div>
                    <br/>
                    <div class="ui raised segment" id="notices">
                        <div class="ui list" id="noticelist">
                            Loading...
                        </div>
                    </div>
                </div>
            </div>
            <div class="twelve wide column" style="padding: 10px;">
            
                    <div class="ui column" id="menu_bar"></div>
                   
                    <div class="ui stackable six columns grid tall stacked segment menu_admin" id="menu_admin" style="padding-top: 10px;"></div>
                    
                    <div class="ui stackable six columns grid tall stacked segment menu_admin" id="menu_customer" style="padding-top: 10px; display: none;"></div>

                    <div class="ui stackable six columns grid tall stacked segment menu_admin" id="menu_sea" style="padding-top: 10px; display: none;"></div>

                    <div class="ui stackable six columns grid tall stacked segment menu_admin" id="menu_air" style="padding-top: 10px; display: none;"></div>

               
                    <div id="mainform" style="display: none;">

                    </div>


            </div>
        </div>

    </div>

    <!-- Modal Area [Start]-->
    <div class="ui popup profilepop">
        <div class="ui grey inverted vertical stacked menu">
            <a class="active item">
                Profile
            </a>
            <a class="item">
                Messages 
                <span class="ui label right floated">
                     23
                </span>
            </a>
            <a class="item">
                Sign-out
            </a>
        </div>
    </div>
    <!-- Modal Area [End]-->
</div>
<script type="text/javascript">
    $('.hflip').fadeIn(500);
    $('.hflip').hover(function () {
        $(this).fadeOut(100);
        $(this).fadeIn(200);
    });

    var resizePopup = function () { $('.ui.popup').css('max-height', $(window).height()); };

    $(window).resize(function (e) {
        resizePopup();
    });
   
    $(document).on('click', '#profilebtn', function () {
        $(this)
            .popup({
                popup: '.profilepop',
                variation: 'inverted',
                title: $(this).text(),
                on: 'click',
                lastResort: 'bottom right',
                onShow: function () {
                    resizePopup();
                }

            })
            .popup('show');
    });
    setInterval(function () {
        Common.serviceRequest("Account/Notices",
            { 'userid': Common.getLoginDetails("userid")},
            function (data) {
                console.log(data);
                    //Common.setLoginDetails(data);
                    $("#noticelist").html("");
                    var forAppend = "";
                    data.forEach(function (item, index) {
                        forAppend = forAppend+ `<div class="item">
                            <i class="map marker icon"></i>
                            <div class="content">
                                <a class="header">`+item.noticeBy+`</a>
                                <div class="description">`+ item.noticeMessage+`</div>
                            </div>
                        </div>`;
                        $("#noticelist").html(forAppend);
                    });
                
            });
    }, 3000);

    $("body").css("background", "#2E3840");
    $('#profilebtn').html("<i class='fa fa-user-circle-o'></i> &nbsp; &nbsp;" + Common.getLoginDetails("lastname") + ', ' + Common.getLoginDetails("firstname"));
    Common.templateRequest("/Menus/menu_bar.html", "menu_bar");
    Common.templateRequest("/Menus/admin.html", "menu_admin");
    Common.templateRequest("/Menus/customer.html", "menu_customer");
    Common.templateRequest("/Menus/sea.html", "menu_sea");
    Common.templateRequest("/Menus/air.html", "menu_air");
</script>