<div class="container" >
    <!-- Login Button -->
    <div class="row" style="padding-right: 20px; padding-top: 20px;">
        <button class="ui right floated basic green button" id="loginBtnShw" onclick="$('#loginTemplate').modal('show');"><i class="fa fa-user-circle-o"></i> &nbsp; &nbsp;Log-in</button>
    </div>
    <!-- [End] Login Button-->
    <div class="row" style="padding-top: 72px;">
        <div class="ui stackable two columns grid"  style="background-color:rgba(255, 216,0, 0.8); ">
            <div class="column">
                <div style="color: green; padding: 60px">
                    <div class="row">
                        <div style="margin:auto; width:150px; height: 150px; border-radius: 75px; background-color:white; box-shadow: 10px 5px 10px 0 #808080; ">
                            <img src="../Assets/logo.png"  style="width: 100%; height: 100%;"/>
                        </div>
                    </div>
                    <br/>
                    <hr/>
                    <br />
                    <div class="row">
                        <h1 style="font-size:44px;">Jades Cargo Services, Inc.</h1>
                    </div>
                    <div class="row" >
                        <br/>
                        <h3 style="font-size: 30px;">Sea and Air Door-to-Door Services</h3>
                    </div>

                    <div class="row" style="font-style:italic; font-size: 20px;">
                        "Your trusted Cargo Delivery Company for 26 years "
                    </div>
                    
                </div>
               
            </div>
            <div class="column" style="padding: 10px;">
                <div class="ui raised segment" style=" height: 100%; background: rgba(255, 255, 255,0.5)">
                    <div class="ui grid" style="height: 100%; ">
                        <div class="twelve wide stretched column">
                            <div class="ui segment" style="background: rgba(255, 255, 255,0.5)">
                                This is an stretched grid column. This segment will always match the tab height
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui vertical fluid right tabular menu">
                                <a class="active item">
                                    Services
                                </a>
                                <a class="item">
                                    About Us
                                </a>
                                <a class="item">
                                    Contact Us
                                </a>
                                <a class="item">
                                    Generate Estimate
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Modal Area [Start]-->
    <!-- Login Modal [Start]-->
    <div class="ui basic modal" id="loginTemplate">

    </div>
    <!-- Login Modal [end]-->
    <!-- Modal Area [End]-->
</div>
<script type="text/javascript">
    Common.templateRequest("login.html", "loginTemplate");
</script>