<center>
    <div class="ui" style="text-align: left; max-width: 350px;">
        <div class="content">
            <center>
                <img src="/Assets/logo.png" style="width:90px; height: 88px">
                <div class="ui inverted header">
                    JCS Shipment Management System
                </div>
            </center>
            
        </div>
        <div class="item" style="padding: 12px">
            <div class="ui form">
                <div class="field">
                    <label id="lbl_user" style="color: white;">User Name</label>
                    <input type="text" id="fld_user">
                </div>
                <div class="field">
                    <label style="color: white;">Password</label>
                    <input type="password" id="fld_password">
                </div>
                <div class="field" style="display: none;" id="frm_cert">
                    <label style="color: white;">PC / Browser Name</label>
                    <input type="text" maxlength="40" id="fld_certOwner">
                </div>

                <button class="ui button" type="button" onclick="login()" id="btn_login">Login</button>
                <button class="ui green button " type="button" onclick="browserCertification()" id="btn_cert" style="display:none;">Issue Certificate</button>
                <br />
                <hr/>
                <br/>
                <a href="#">Forgot your Password?</a>
                <br />
                <br />

                <a href="#" onclick="$('#lbl_user').html('Administrator'); $('#frm_cert').show(); $('#btn_cert').show();  $('#btn_login').hide(); ">Browser Certificate</a>
            </div>
        </div>

    </div>
</center>
<script type="text/javascript">

    function login()
    {
        var cert = Common.getCertificate();
        Common.serviceRequest("Account/Login",
            { 'certificate': cert, 'username': $('#fld_user').val(), 'password': $('#fld_password').val() },
            function (data) {
                    
                    if (data.status != "OK") {
                        Common.custAlert('Oops! Something Wen Wrong.',data.message);
                    } else
                    {
                        Common.setLoginDetails(data);
                        Common.custAlert('Success', "Welcome back Mr. " + Common.getLoginDetails('lastname') + ", " + Common.getLoginDetails('firstname'), 'Ok', function () { location.reload();});
                    }
                });
    }

    function browserCertification()
    {
        Common.serviceRequest("Account/Certificate",
            { 'owner': $('#fld_certOwner').val(), 'username': $('#fld_user').val(), 'password': $('#fld_password').val() },
            function (data) {
                if (data.status != "OK") {
                    Common.custAlert('Oops! Something Went Wrong.',data.message);
                } else
                {
                   
                    Common.setCertificate(data);
                    Common.custAlert('Success', 'Browser has noew been certified. Please login to system.');
                }
            });
    }

</script>