<center>
    <div class="card" style="max-width:350px;">
        <div class="card-image">
            <img src="Assets/main-bg.jpg">
            <a class="btn-floating btn-large halfway-fab waves-effect waves-light" style="background-color: white; background-image:url('Assets/logo.png'); background-size:contain;"><h1>&nbsp;</h1></a>
        </div>
        <div class="card-content">
            <h5>Login</h5>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Username" id="log_user" type="text" class="validate">
                    <label for="log_user">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Password" id="log_pass" type="password" class="validate">
                    <label for="log_pass">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">

                    <button class="btn waves-effect waves-light col s10" type="button" name="action" onclick=" login($('#log_user').val(),$('#log_pass').val());">
                        Login
                        <i class="material-icons right">send</i>
                    </button>
                    <button class="btn waves-effect waves-light col s2" type="button" name="action" onclick=" qrlogin();">
                        <i class="material-icons right">business</i>
                    </button>

                    
                </div>
            </div>
          
        </div>
    </div>
</center>
